### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [298]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

#08/12: New Data with no duplicates
data = purchase_data.loc[:, ["SN", "Age", "Gender"]]
data = data.drop_duplicates()

## Player Count

* Display the total number of players

In [299]:
#Total number of players
count = {"Total Players":[len(purchase_data["SN"].value_counts())]}
countdf = pd.DataFrame(count)
countdf

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [300]:
#Calculation: # of unique items
uni_items = (purchase_data['Item ID']).unique()
uni_items = len(uni_items)

In [301]:
#Calculation: Average Price
avg_price = (purchase_data["Price"]).mean()

In [302]:
#Number of purchases
num_pur = purchase_data["Purchase ID"].value_counts()
num_pur = len(num_pur)

In [303]:
#Total revenue
total_rev = purchase_data["Price"].sum()

In [304]:
pur_analysis = pd.DataFrame({"Number of Unique items":[uni_items], 
                             "Average Price":[avg_price],
                             "Number of Purchases":[num_pur], 
                             "Total Revenue":[total_rev]})

In [305]:
#Format
pur_analysis["Average Price"] = pur_analysis["Average Price"].map("${:,.2f}".format)
pur_analysis["Total Revenue"] = pur_analysis["Total Revenue"].map("${:,.2f}".format)
pur_analysis

   Number of Unique items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [306]:
#Count total. Drop duplicates
count = len(purchase_data["SN"].unique())

In [307]:
#Count Male
male = purchase_data.groupby("Gender").get_group("Male")
#male_num = len(male): Counted duplicate
male_num = len(male["SN"].unique())

In [308]:
#Count Female
female = purchase_data.groupby("Gender").get_group("Female")
female_num = len(female["SN"].unique())

In [309]:
#Count O/N
gen_on = purchase_data.groupby("Gender").get_group("Other / Non-Disclosed")
gen_on_num = len(gen_on["SN"].unique())

In [310]:
#Percent Male
male_perc = (male_num/count)

In [311]:
#Percent Female
female_perc = (female_num/count)

In [312]:
#Percent O/N
gen_on_perc = (gen_on_num/count)

In [313]:
gen_demo = {"Total Count":{"Male":male_num, "Female":female_num, "Other / Non-Disclosed":gen_on_num},
            "Percentage of Players":{"Male":"{:.2%}".format(male_num/count), "Female": "{:.2%}".format(female_num/count),
                                     "Other / Non-Disclosed": "{:.2%}".format(gen_on_num/count)}}
gen_demo = pd.DataFrame(gen_demo)
gen_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [314]:
pur_gen = purchase_data.groupby("Gender")

In [315]:
pur_count = pur_gen["Purchase ID"].count()

In [316]:
avg_pp = pur_gen["Price"].mean()

In [317]:
avg_pt = pur_gen["Price"].sum()

In [318]:
pur_count = pur_gen["Purchase ID"].count()

In [319]:
avg_tpp = avg_pt/gen_demo["Total Count"]

In [320]:
pur_gender = {"Purchase Count":pur_count, "Average Purchase Price": avg_pp.map("${:,.2f}".format),
              "Total Purchase Value":avg_pt.map("${:,.2f}".format), "Avg Total Purchase per Person":avg_tpp.map("${:,.2f}".format)}
pur_gender = pd.DataFrame(pur_gender)
pur_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [321]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 500]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [322]:
data["age_range"]=pd.cut(data["Age"],age_bins,labels=age_range)

In [323]:
#Total for each age_range
ager_total = data["age_range"].value_counts()

In [324]:
#Percentage of Players
ager_perc = ager_total/count

In [325]:
age_demo_df = pd.DataFrame({"Total Count":ager_total,
                            "Percentage of Players":ager_perc})

In [326]:
#Format
age_demo_df ["Percentage of Players"] = age_demo_df ["Percentage of Players"].map("{:.2%}".format)

In [327]:
#Sort
age_demo_df.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [328]:
purchase_data["age_range"] = pd.cut(purchase_data["Age"], age_bins, labels = age_range)

In [329]:
pur_counts = purchase_data.groupby(["age_range"]).count()["Price"]
total_pv = purchase_data.groupby(["age_range"]).sum()["Price"]
avg_pp = total_pv/pur_counts
atppp = total_pv/age_demo_df["Total Count"]

In [330]:
#Set DataFrame
pur_analysis = pd.DataFrame({"Purchase Count":pur_counts, 
                             "Average Purchase Price": avg_pp,
                             "Total Purchase Value": total_pv,
                             "Avg Total Purchase per Person":atppp})

In [331]:
#Format
pur_analysis["Average Purchase Price"] = pur_analysis["Average Purchase Price"].map("${:,.2f}".format)
pur_analysis["Total Purchase Value"] = pur_analysis["Total Purchase Value"].map("${:,.2f}".format)
pur_analysis["Avg Total Purchase per Person"] = pur_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [332]:
#Change name of first column
pur_analysis.index.name = "Age Ranges"

In [333]:
pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [350]:
count = purchase_data.groupby(["SN"]).count()["Price"]
avg = purchase_data.groupby(["SN"]).mean()["Price"]
total = purchase_data.groupby(["SN"]).sum()["Price"]

In [351]:
#DataFrame
spend_sn = pd.DataFrame({"Purchase Count": count,
                          "Average Purchase Price":avg,
                          "Total Purchase Value": total})

In [349]:
top_spend = spend_sn.sort_values("Total Purchase Value", ascending = False)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

In [353]:
#Format
top_spend["Average Purchase Price"] = top_spend["Average Purchase Price"].map("${:,.2f}".format)
top_spend["Total Purchase Value"] = top_spend["Total Purchase Value"].map("${:,.2f}".format)

In [354]:
top_spend.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [364]:
#Retrieve the Item ID, Item Name, and Item Price columns
item_df = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

In [365]:
#Group by Item ID & Item Name
pur_count = item_df.groupby(["Item ID","Item Name"]).count()["Price"]
item_price = item_df.groupby(["Item ID","Item Name"]).mean()["Price"]
total_val = item_df.groupby(["Item ID","Item Name"]).sum()["Price"]

In [372]:
#Create a summary data frame to hold the results
sum_data = pd.DataFrame({"Purchase Count":pur_count,
                         "Item Price": item_price,
                         "Total Purchase Value": total_val})

In [375]:
#Sort
sum_data_sort = sum_data.sort_values("Purchase Count", ascending = False)

In [382]:
#Format
sum_data_sort["Item Price"] = sum_data_sort["Item Price"].map("${:,.2f}".format)
sum_data_sort["Total Purchase Value"] = sum_data_sort["Total Purchase Value"].map("${:,.2f}".format)

In [383]:
sum_data_sort.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [386]:
sum_data_sort = sum_data.sort_values("Total Purchase Value", ascending = False)

In [387]:
#Format
sum_data_sort["Item Price"] = sum_data_sort["Item Price"].map("${:,.2f}".format)
sum_data_sort["Total Purchase Value"] = sum_data_sort["Total Purchase Value"].map("${:,.2f}".format)

In [388]:
sum_data_sort.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80